#top {
    margin: 0 auto;
    text-align: center;
}

#getSection {
    margin: 0 auto;
    text-align: center;
}

#cards, #getSection {
    margin: 0 auto;
    margin-top: 20px; 
}

#cards {
    margin-left: 15%; 
    margin-right: 15%; 
}

h1, h4{
    margin: 0 auto;
    text-align: center;
}

button {
    text-align: center;
    margin: 0 auto;
}

p {
    font-weight: bold;
    text-align: center;
}